<div>
<div id="similar-count">
    {% if questions_count > 0 %}
        {% if questions_count == 1 %}
            1 similar, previously asked question on our Forums
        {% else %}
            {{ questions_count }} similar, previously asked questions on our Forums
        {% endif %}
    {% endif %}
</div>
<br>

<table class="table table-bordered table-hover">
{% for question in questions %}
    <tr>
        <td>
            <a href="{{ question.body }}" target="_blank">
                {{ question.title }}
            </a>
            {% for tag in question.tags %}
            <span class="badge badge-pill badge-dark">{{ tag }}</span>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
</div> <!-- /div for ajax -->
