{% extends 'website/templates/base.html' %}
{% load static %}
{% load count_tags %}
{% load forumdata %}
{% block content %}

    <h4> 
        <h5>
            Showing {{ questions.start_index }} - {{ questions.end_index }} of {{ questions.paginator.count }} questions.
        </h5>
    </h4>
    <div class="col-lg-16">
    <table id = "listTable" class="paleblue table table-striped table-hover table-bordered">

				<thead>
                {% get_sortable_header header ordering request.GET %}
            </thead>
				<tbody>
        {% for question in questions %}
				
        <tr>
            <td class="col-md-1">
                <span href="#" class="category" data-toggle="tooltip" data-placement="top" title="{{ question.category}}">
                    {{ question.category|truncatechars:12 }} 
                </span>
                <a class="pull-right" href="{% url 'website:filter' question.category %}?qid={{ question.id }}">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </td>
            
            <td class="col-md-1">
                <span class="tutorial" data-toggle="tooltip" data-placement="top" title="{{ question.tutorial}}">
                    {{ question.tutorial|truncatechars:12 }}
                </span>
                <a class="pull-right" href="{% url 'website:filter' question.category question.tutorial %}?qid={{ question.id }}">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </td>
            
            <td class="col-md-1">
                <span>
                    <a href="{% url 'website:filter' question.category question.tutorial question.minute_range %}?qid={{ question.id }}">
                        {{ question.minute_range }}
                    </a>
                </span>
            </td>
            
            <td class="col-md-1"> 
                <span>
                    <a href="{% url 'website:filter' question.category question.tutorial question.minute_range question.second_range%}?qid={{ question.id }}">
                        {{ question.second_range }}
                    </a>
                </span>
            </td>
            
            <td class="col-md-3">
                <span class="title" data-toggle="tooltip" data-placement="top" title="{{ question.title }}">
                    <a href="{% url 'website:get_question' question.id %}">{{ question.title|truncatechars:40 }}</a>
                </span>            
            </td>
            
            <td class="col-md-1">    
                <span>
                    <i>
                        {{ question.date_created|date:"d-m-y" }}
                    </i>
                </span>
            </td>
            
            <td class="col-md-1">
                {{ question.views}}
            </td>
            
            <td class="col-md-1">
                {{ question.answer_set.count }}
            </td>
           
            <td class="col-md-1">
                <span class="title" data-toggle="tooltip" data-placement="top" title="{{ question.user }}">
                    {{ question.user|truncatechars:10 }}
                </span>
            </td>
        </tr>
        {% endfor %}
			</tbody>
    </table>
</div>
    <ul class="pagination pull-right">
    {% if questions %}
        {% if questions.has_previous %}
            <li><a href="?{{ request.GET|combine_get_values }}page=1">&laquo; <small>First</small></a></li>
            <li><a href="?{{ request.GET|combine_get_values }}page={{ questions.previous_page_number }}">&laquo; <small>Prev</small></a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for num in questions.paginator.page_range|paginator_page_cutter:questions.number %}
            {% ifequal num questions.number %}
                <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="?{{ request.GET|combine_get_values }}page={{ num }}">{{ num }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if questions.has_next %}
            <li><a href="?{{ request.GET|combine_get_values }}page={{ questions.next_page_number }}"><small>Next</small> &raquo;</a></li>
            {% if questions.paginator.page_range|length > 10 %}
                <li><a href="?{{ request.GET|combine_get_values }}page={{ questions.paginator.num_pages }}"><small>Last</small> &raquo;</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
            <li class="disabled"><a href="?{{ request.GET|combine_get_values }}page={{ questions.paginator.num_pages }}"><small>Last</small> &raquo;</a></li>
        {% endif %}
    {% endif %}
    <ul>

{% endblock %}

{% block javascript %}
<script>
    $('span').tooltip();
</script>
{% endblock %}
